@media (max-width: 900px) {
  .container {
    grid-template-rows: auto 1fr;
  }

  .left-sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    flex-direction: row;
  }
  .mid-aside-btn {
    flex-direction: row;
  }

  .mid-aside-btn button {
    padding: 10px;
  }

  .main {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
}

@media (max-width: 715px) {
  .left-sidebar-hemburger {
    display: block;
    cursor: pointer;
  }

  .mid-aside-btn,
  .left-sidebar-support,
  .nav-right {
    display: none;
  }
}

@media (max-width: 650px) {
  .main-bottom-top {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .nav-left-btn {
    display: none;
  }
}

@media (max-width: 400px) {
  .nav-left-serch {
    width: 200px;
  }
}
